.bundle
.project
.rvmrc
log/*.log
tmp/
.sass-cache/
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
conf.pstore
coverage/*
spec/reports/*
public/assets/*
app/assets
app/assets/*
public/system
public/system/*
public/assets
.idea/
projectFilesBackup/
config/database.yml
config/redis_client.yml
config/bluesky.yml
config/environments/development.rb
dump.rdb

## Environment normalisation:
/.bundle
/vendor/bundle
/vendor/cache
# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
frontend/node_modules
frontend/.sass-cache
frontend/dist
frontend/*/bower_components
frontend/bower_components
bluesky.yml
jn_plugins/*
